<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
    />
  </head>

  <body>
    <h1>***Checkerboard***</h1>
    <div class="container">
      {% for row_num in range(0, y)%}
      <div class="row">
        {% for col_num in range(0, x)%}
        <div
          class="box"
          style="background-color: {{ color1 if (col_num + (row_num % 2)) % 2 == 0 else color2 }};"
        ></div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </body>
</html>
